<p id="notice"><%= notice %></p>

<p>
  <strong>Quantidadeproduto:</strong>
  <%= @estoque.quantidadeProduto %>
</p>

<p>
  <strong>Valortotalestoque:</strong>
  <%= @estoque.valorTotalEstoque %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @estoque.produto_id %>
</p>

<%= link_to 'Edit', edit_estoque_path(@estoque) %> |
<%= link_to "Back", root_path %>
