<p id="notice"><%= notice %></p>
<ul>
  <% @users.each do |user| %>
    <p>
    <strong> ID: </strong>
    <%=user.id%>
    </p>
    <p>
    <strong> Nome: </strong>
    <%=user.name%>
    </p>
    <p>
    <strong> Email: </strong>
    <%=user.email%>
    </p>
    <p>
    <strong> Função: </strong>
    <%=user.role%>
    </p>

    <td><%= link_to 'Mostrar', user %></td>
    <td><%= link_to 'Editar', edit_user_registration_path(user) %></td>
    <td><%= link_to 'Apagar', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </br>
  <% end %>
  </br> </br>
  <%= link_to 'Voltar', root_path, class: "btn btn-default" %>
</ul>
