<p id="notice"><%= notice %></p>
<p>
<strong> Nome: </strong>
<%= @user.name%>
</p>

<p>
  <strong> Email: </strong>
  <%= @user.email %>
</p>

<p>
  <strong> Função: </strong>
  <%= @user.role %>
</p>

<br>
<%= link_to "Novo usuário", new_user_registration_path %>
<%= link_to 'Editar usuário', edit_user_registration_path(@user), id:"EditUser" %>
<%= link_to 'Voltar', root_path, class: "btn btn-default" %>