<h1> PANIFICADORA SANTO ANTONIO </h1>
<% if current_user %>
  Welcome <%= current_user.name %> | Role: <%= current_user.role %>
  </br>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>
<p id="notice"><%= notice %></p>

<% if current_user %>
 <% if current_user.role == "Admin" %>
    <h5> SALE</h5>
    <%= link_to 'New Sale', new_sale_path %>
    </br>
    <%= link_to 'Sale List', sales_path %>
    </br>
    <h5> PRODUCT </h5>
    <%= link_to 'New Product', new_produto_path %>
    </br>
    <%= link_to 'Product List', produtos_path %>
    </br>
    <h5> CUSTOMER </h5>
    <%= link_to 'New Customer', new_customer_path %> 
    </br>
    <%= link_to 'Customer List', customers_path %>

    </br>
    <h5> USER </h5>
    <%= link_to "New User", new_user_registration_path %> 
    </br>
    <%= link_to 'Show User', user_path(current_user) %>
    </br>
    <%= link_to 'Users List', users_path %>
    </br>
    <%= link_to 'Edit User', edit_user_registration_path(current_user) %>
    </br>
    <%= button_to "Cancel my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </br>

  <% else %>
    <h5> PRODUCT </h5>
    <%= link_to 'New Product', new_produto_path %>
    </br>
    <%= link_to 'Product List', produtos_path %>
    </br>
    <h5> CUSTOMER </h5>
    <%= link_to 'New Customer', new_customer_path %>
    </br>
    
    <h5> USER </h5>
    <%= link_to 'Show User', user_path(current_user) %>
    </br>
    <%= link_to 'Edit User', edit_user_registration_path(current_user) %>
    </br>

  <% end %>
<% else %>
 You must be logged in to access
<% end %>
