<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @customer.phone %>
</p>


  <p>
    <strong>CEP:</strong>
    <%= @customer.address.zip_code %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= @customer.address.city %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= @customer.address.district %>
  </p>

  <p>
    <strong>Logradouro:</strong>
    <%= @customer.address.road %>
  </p>

  <p>
    <strong>Número:</strong>
    <%= @customer.address.number %>
  </p>

  <% if @customer.address.complement? %>
    <p>
      <strong>Complemento:</strong>
      <%= @customer.address.complement %>
    </p>
  <% end %>

<%= link_to 'Editar', edit_customer_path(@customer) %> |
<%= link_to 'Voltar', root_path %>
