<%= form_with(model: produto, local: true) do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
        <% produto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Product_Name %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :Description %>
    <%= form.text_area :descrição %>
  </div>

  <div class="field">
    <%= form.label :Price %>
    <%= form.text_field :preco %>
  </div>

  <div class="field">
    <%= form.label :validity %>
    <%= form.date_select :validade %>
  </div>
  <h2> Estoque </h2>
  <%= form.fields_for :estoque do |estoque| %>
    <div class="field">
      <%= estoque.label :product_quantity %>
      <%= estoque.number_field :quantidadeProduto %>
    </div>

    <div class="field">
      <%= estoque.label :total_stock_value %>
      <%= estoque.text_field :valorTotalEstoque %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
