<%= form_with(model: produto, local: true) do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
        <% produto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nome_produto %>
    <%= form.text_field :nome, id: "nome" %>
  </div>

  <div class="field">
    <%= form.label :Descrição%>
    <%= form.text_area :descricao, id:"descricao" %>
  </div>

  <div class="field">
    <%= form.label :Preço %>
    <%= form.text_field :preco, id: "preco" %>
  </div>

  <div class="field">
    <%= form.label :validade %>
    <%= form.date_select :validade, id:"validade" %>
  </div>

  <div class="field">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade, id:"quantidade" %>
  </div>


  <div class="actions">
    <%= form.submit id:"submit" ,:value =>"Confirmar" %>
  </div>
<% end %>
