<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @produto.nome %>
</p>

<p>
  <strong>Description:</strong>
  <%= @produto.descrição %>
</p>

<p>
  <strong>Price:</strong>
  <%= @produto.preco %>
</p>

<p>
  <strong>Validity:</strong>
  <%= @produto.validade %>
</p>

<p>
  <strong>Product Quantity:</strong>
  <%= @produto.estoque.quantidadeProduto %>
</p>

<p>
  <strong>Total Stock Value:</strong>
  <%= @produto.estoque.valorTotalEstoque %>
</p>

<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', root_path %>
