<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @produto.nome %>
</p>

<p>
  <strong>Description:</strong>
  <%= @produto.descricao %>
</p>

<p>
  <strong>Price:</strong>
  <%= @produto.preco %>
</p>

<p>
  <strong>Validity:</strong>
  <%= @produto.validade %>
</p>

<p>
  <strong> Quantity:</strong>
  <%= @produto.quantidade %>
</p>

<%= link_to 'Edit', edit_produto_path(@produto), id: "Edit" %> |
<%= link_to 'Back', root_path %>