<p id="notice"><%= notice %></p>
<p>
  <strong>Cliente:</strong>
  <%= @sale.customer.name %>
</p>

<div class="table-responsive"></div>
 <table class="table table-striped table-bordered table-hover">
 <thead>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Valor</th>
      </tr>
    </thead>
  <tbody>
    <% for product_sale in @sale.product_sale %>
    <tr>
        <td><%=  product_sale.produto.nome %></td>
        <td><%= product_sale.quantity %></td>
        <td><%= "R$ %0.02f" % product_sale.total_product_price %></td>
        <td><%= link_to 'Remover Produto',[@sale, product_sale], method: :delete, data: { confirm: 'Deseja remover este produto da venda?' } %></td>
      </br>
    </tr>
    <% end %>
  </tbody>
</table>
</div>


<p>
  <strong>Valor Total:</strong>
  <%= "R$ %0.02f" % @sale.totalValue %>
</p>






<%= link_to 'Adicionar Produto', new_sale_product_sale_path(@sale), id:"AddProduct" %>
</br>
</br>
<%= link_to 'Finalizar Venda', finalizeSale_sale_path(@sale), id:"FinalizeSale"%>
</br>
</br>
<%= link_to 'Voltar', sales_path %>
