<p id="notice"><%= notice %></p>
<p>
  <strong>Customer:</strong>
  <%= @sale.customer.name %>
</p>
<p>
  <strong>Totalvalue:</strong>
  <%= @sale.totalValue %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @sale.date_time %>
</p>



<%= link_to 'Adicionar Produto', new_sale_product_sale_path(@sale) %>
<%= link_to 'Finalizar Venda', finalizeSale_sale_path(@sale)%>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
