<p id="notice"><%= notice %></p>
<p>
  <strong>Cliente:</strong>
  <%= @sale.customer.name %>
</p>

<div class="row">
    <% for product_sale in @sale.product_sale %>
                    Produto: <%=  product_sale.produto.nome %>
                   | Quantidade: <%= product_sale.quantity %>
                   | Valor: <%= "R$ %0.02f" % product_sale.total_product_price %>
            | <%= link_to 'Remover Produto',[@sale, product_sale], method: :delete, data: { confirm: 'Deseja remover este produto da venda?' } %>
            </br>
    <% end %>
</div>

<p>
  <strong>Valor Total:</strong>
  <%= "R$ %0.02f" % @sale.totalValue %>
</p>






<%= link_to 'Adicionar Produto', new_sale_product_sale_path(@sale), id:"AddProduct" %>
</br>
</br>
<%= link_to 'Finalizar Venda', finalizeSale_sale_path(@sale), id:"FinalizeSale"%>
</br>
</br>
<%= link_to 'Voltar', sales_path %>
