<p id="notice"><%= notice %></p>
<p>
  <strong>Customer:</strong>
  <%= @sale.customer.name %>
</p>
<p>
  <strong>Total Value:</strong>
  <%= @sale.totalValue %>
</p>




<%= link_to 'Add Product', new_sale_product_sale_path(@sale) %>
</br>
</br>
<%= link_to 'Finalize Sale', finalizeSale_sale_path(@sale)%>
</br>
</br>
<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
