<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @product_sale.quantity %>
</p>

<p>
  <strong>Totalproductprice:</strong>
  <%= @product_sale.totalProductPrice %>
</p>

<%= link_to 'Edit', edit_product_sale_path(@product_sale) %> |
<%= link_to 'Back', product_sales_path %>
